openapi: 3.0.0
info:
  title: JuaJobs API
  description: RESTful API for the JuaJobs platform connecting workers and employers in Africa
  version: 1.0.0
  contact:
    name: JuaJobs Support
    email: support@juajobs.com
    url: https://juajobs.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.juajobs.com/v1
    description: Production Server
  - url: http://localhost:3000/v1
    description: Local Dev Server

tags:
  - name: Users
    description: Operations related to users (registration, login, profile)
  - name: Job Postings  # Added missing tag
    description: Operations related to job postings

paths:
  /users/register:
    post:
      summary: Register a new user
      description: Allows a new worker or employer to create an account.
      tags: [Users]
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
            example:
              email: user@example.com
              password: pa$$word
              role: worker
      responses:
        '201':
          description: User registered successfully
          content:  # Added response content
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/login:
    post:
      summary: User login
      description: Authenticate user and receive a JWT token.
      tags: [Users]
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
            example:
              email: user@example.com
              password: pa$$word
      responses:
        '200':
          description: Authentication successful, returns token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '401':
          description: Invalid email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    get:
      summary: Get current user profile
      description: Returns the profile information of the authenticated user.
      tags: [Users]
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: 123e4567-e89b-12d3-a456-426614174000
                email: user@example.com
                role: worker
                created_at: 2025-05-22T10:00:00Z
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /jobs:
    get:
      summary: List all job postings
      description: Retrieve a paginated list of job postings with optional filters.
      tags: [Job Postings]
      operationId: listJobs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of items per page
        - name: location
          in: query
          schema:
            type: string
          description: Filter jobs by location
        - name: category
          in: query
          schema:
            type: string
          description: Filter jobs by category
      responses:
        '200':
          description: A list of job postings
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of jobs matching query
                  page:
                    type: integer
                  per_page:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create a new job posting
      description: Allows employers to post new jobs.
      tags: [Job Postings]
      operationId: createJob
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingCreate'
            example:  # Added example
              title: "Web Developer Needed"
              description: "Build a company website"
              location: "Nairobi"
              category: "IT"
      responses:
        '201':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /jobs/{jobId}:
    get:
      summary: Get job posting details
      description: Retrieve detailed info for a specific job posting by ID.
      tags: [Job Postings]
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique job posting identifier
      responses:
        '200':
          description: Job details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      summary: Update a job posting
      description: Allows employers to update their job postings.
      tags: [Job Postings]
      operationId: updateJob
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingUpdate'
            example:
              title: "Updated Web Developer Position"
      responses:
        '200':
          description: Job updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete a job posting
      description: Allows employers to delete their job postings.
      tags: [Job Postings]
      operationId: deleteJob
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Job deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Error schema added
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: string

    UserRegister:
      type: object
      required: [email, password, role]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        role:
          type: string
          enum: [worker, employer]

    UserLogin:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    AuthResponse:
      type: object
      properties:
        token:
          type: string
        expires_in:
          type: integer
          description: Token expiration in seconds

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    JobPosting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        location:
          type: string
        category:
          type: string
        employer_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:  # Added status field
          type: string
          enum: [draft, published, closed]
          default: published

    JobPostingCreate:
      type: object
      required: [title, description, location, category]
      properties:
        title:
          type: string
          minLength: 5
        description:
          type: string
          minLength: 10
        location:
          type: string
        category:
          type: string
        budget:  # Added optional field
          type: number
          minimum: 0

    JobPostingUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 5
        description:
          type: string
          minLength: 10
        location:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [draft, published, closed]